html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-smoothing: subpixel-antialiased;
  background: var(--color-bg-secondary);
  display: grid;
  grid-template-areas: "header header" "main aside" "footer footer";
  grid-template-rows: 10em 1fr 10em;
  grid-template-columns: 1fr 15em;
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

.disable-hover {
  pointer-events: none;
}

button,
input,
select,
textarea,
a {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-family: var(--font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--color-icon-secondary);
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color-icon-secondary);
  opacity: 1;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color-icon-secondary);
  opacity: 1;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--color-icon-secondary);
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--color-icon-secondary);
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color-icon-secondary);
  opacity: 1;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color-icon-secondary);
  opacity: 1;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--color-icon-secondary);
}

input {
  &.text {
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: var(--depth1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-border);
    padding: 0 10px;
    font-size: 14px;
    height: 32px;
  }

  &:focus {
    outline: none;
  }
}

a,
.a {
  color: var(--color-link);
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active,
  &:hover {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &:hover {
    color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
    text-decoration: underline;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

hr {
  background: rgba(0, 0, 0, 0.12);
  border: 0 none;
  height: 1px;
  margin: 0.5em 0 0.5em 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

li {
  margin: 0;
  padding: 0;
}

svg {
  fill: #c7c7c7;
  vertical-align: text-bottom;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
