body {
  min-width: auto;
  background: white;
  padding: 1em;

  > div {
    border: 1px solid;
  }
}

.screenshot {
  position: absolute;
  top: 2.3em;
  left: 1.2em;
  opacity: 0.5;
  width: 811px;
  height: 685px;
  margin: 0;
  padding: 0;
  display: block;
  pointer-events: none;
  background: transparent no-repeat 0 0;
}
